<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Event Edit</title>
	</head>
	<body>
		<header>
			<h1>Edit <%=eventVolunteer.name%> <%=event.title%> Event</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/events">Events Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Article Attributes:</h2>
			<form action="/events/<%=event._id%>?_method=PUT" method="post">
				<select name="volunteerId">
                    <% for(let i = 0; i < volunteers.length; i++) { %>
                        <option
							value="<%=volunteers[i]._id%>"
							<% if(volunteers[i]._id.toString() === eventVolunteer._id.toString()){ %>
								selected
							<% } %>
							>
							<%=volunteers[i].name%>
						</option>
                    <% } %>
                </select><br/>
				<input type="text" name="title" value="<%=event.title%>"/><br/>
				<textarea name="body"><%=event.body%></textarea><br/>
				<input type="submit" value="Update Article"/>
			</form>
		</main>
	</body>
</html>
