<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
    <% include ../partials/nav.ejs %>
		<title>Event Edit</title>
	</head>
	<body>
		<header>
			<h2>Edit Event</h2>
			<h3><%=eventVolunteer.name%> <u>'<%=event.title%>'</u> Event</h3>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/events">Events Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Article Attributes:</h2>
			<form action="/events/<%=event._id%>?_method=PUT" method="post">
				<select name="volunteerId">
                    <% for(let i = 0; i < volunteers.length; i++) { %>
                        <option
							value="<%=volunteers[i]._id%>"
							<% if(volunteers[i]._id.toString() === eventVolunteer._id.toString()){ %>
								selected
							<% } %>
							>
							<%=volunteers[i].name%>
						</option>
                    <% } %>
                </select><br/>
				Date:<input type="date" name="date"><br/>
				Time: <input type="time" name="time" value="<%event.time%>"><br/>
				<input type="submit" value="Update Event"/>
				</form>
		</main>
		<% include ../partials/footer.ejs %>
	</body>
</html>
