<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
    <% include ../partials/nav.ejs %>
		<title></title>
	</head>
	<body>
		<header>
			<h2>Events</h2>
			<nav>
				<ul>
					<li>
						<!-- check for admin user logged only -->
						<a href="/events/new">Create an Event</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Events with Volunteers</h2>
				<% if (events.length === 0) { %>
					<h3>There are no events</h3>
				<% } else { %>
					<table class='u-full-width'>
						<thead>
							<tr>
								<th>Volunteer</th>
								<th>Event Title</th>
								<th>Date</th>
								<th>Time</th>
							</tr>
						</thead>
						<tbody>
					<% for(let i = 0; i < volunteers.length; i++){ %>
						<tr>
					<% for (var j = 0; j < volunteers[i].events.length; j++) { %>
					<%		console.log(volunteers[i].events.length); %>
					<%		console.log(volunteers[i].events[j]["title"]); %>
						<td>
							<a href="/volunteers/<%=volunteers[i]._id%>"><%=volunteers[i].name%></a>
						</td>
						<td><%=volunteers[i].events[j]["title"]%></td>
						<td><%=volunteers[i].events[j]["date"].toLocaleDateString('en-US')%></td>
						<td><%=volunteers[i].events[j]["time"]%></td>
						</tr>
					<%	} %>
					<% } %>
					</tbody>
				</table>
				<% } %>
			</ul>
		</main>
		<% include ../partials/footer.ejs %>
	</body>
</html>
