<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
    <% include ../partials/nav.ejs %>
		<title>Events</title>
	</head>
	<body>
		<header>
			<h2><%=event.title%></h2>
			<table class="u-full-width">
				<thead>
					<tr>
						<th>Volunteer</th>
						<th>Date</th>
						<th>Time</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/volunteers/<%=event._id%>"><%=volunteer.name%></a></td>
						<td><%=event.date.toLocaleDateString('en-US')%></td>
						<td><%=event.time%></td>
					</tr>
				</tbody>
			</table>
		</header>
		<main>
			<section class="bottom-button container">
				<form action="/events/<%=event._id%>/edit" method="GET">
						<input class="eleven columns button-primary  submit-button" type="submit" value="Edit Event"/>
				</form>
				<form action="/events/<%=event._id%>?_method=DELETE" method="post">
		        <input class="eleven columns button-primary  submit-button" type="submit" value="Delete Event"/>
		    </form>
				<form action="/events" method="GET">
		        <input class="eleven columns button-primary  submit-button" type="submit" value="Events"/>
		    </form>
			</section>
		</main>
		<% include ../partials/footer.ejs %>
	</body>
</html>
