<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
    <% include ../partials/nav.ejs %>
		<title></title>
	</head>
	<body>
		<header>
			<h2>Edit <%=volunteer.name%>'s Info</h2>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/volunteers">Volunteer Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Volunteer Info:</h2>
			<form action="/volunteers/<%=volunteer._id%>?_method=PUT" method="post">
				<label>Name:</label><input type="text" name="name" value="<%=volunteer.name%>"/><br/>
				<label>Email:</label><input type="text" name="email" value="<%=volunteer.email%>"/><br/>
				<label>MemberID:</label><input type="text" name="memberID" value="<%=volunteer.memberID%>"/><br/>
				<input class="button-primary submit-button" type="submit" value="Submit"/>
			</form>
		</main>
		<% include ../partials/footer.ejs %>
	</body>
</html>
