<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
    <% include ../partials/nav.ejs %>
		<title></title>
	</head>
	<body>
		<header>
			<h2><%=volunteer.name%></h2>
			<nav>
				<ul>
					<li>
						<a href="/volunteers">Volunteer Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<h2>Volunteer Info:</h2>
				<table class="u-full-width">
					<thead>
						<tr>
							<th>Name</th>
							<th>Cell</th>
							<th>Email</th>
							<th>MemberID</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%=volunteer.name%></td>
							<td><%=volunteer.cell%></td>
							<td><%=volunteer.email%></td>
							<td><%=volunteer.memberID%></td>
						</tr>
					</tbody>
				</table>
			</section>
			<section>
				<h2>Event Commitments:</h2>
				<% if (volunteer.events.length === 0) { %>
						<h2>Member has no Event Commitments</h2><br/>
				<% } else { %>
					<table class="u-full-width">
						<thead>
							<tr>
							 	<th>Event Title</th>
								<th>Date</th>
								<th>Time</th>
							</tr>
						</thead>
						<tbody>
						<% for(let i = 0; i < volunteer.events.length; i++) { %>
							<tr>
								<td><%=volunteer.events[i].title%></td>
								<td><%=volunteer.events[i].date.toLocaleDateString()%></td>
								<td><%=volunteer.events[i].time%></td>
							</tr>
						<% } %>
						</tbody>
					</table>
				<% } %>
			</section>
			<section class="bottom-button container">
				<form action="/volunteers/<%=volunteer._id%>/edit" method="GET">
					<input class="eleven columns button-primary  submit-button" type="submit" value="Edit Volunteer"/>
				</form>
				<form action="/volunteers/<%=volunteer._id%>?_method=DELETE" method="post">
					<input class="eleven columns button-primary  submit-button" type="submit" value="Delete Volunteer"/>
				</form>
			</section>
		</main>
		<% include ../partials/footer.ejs %>
	</body>
</html>
